{% extends './base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <!-- Profile photo -->
            {% if profile_info.profile_photo %}
            <img src="{{ profile_photo.url }}" alt="Profile Photo" class="img-fluid profile-image">
            {% else %}
            <img src="{% static 'images/default_profile_photo.png' %}" alt="Default Profile Photo"
                class="img-fluid profile-image">
            {% endif %}
            <!-- Form for uploading a new profile photo -->
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <!-- Add file input field for uploading a new photo -->
                <input type="file" name="profile_photo">
                <button type="submit" class="btn btn-primary mt-2">Upload Photo</button>
                <input type="hidden" name="photo_upload" value="1">
            </form>
        </div>



        <!-----user details ---->
        <div class="col-md-8">
            {% if user_type %}
            <h1>Welcome, {{ profile_info.first_name }} {{ profile_info.last_name }}</h1>
            <div class="user-info">
                <p>Username: {{ profile_info.user.username }}</p>
            </div>
            <h2>
                {% if user_type == 'teacher' %}
                Courses Taught
                {% else %}
                Courses Taken
                {% endif %}
            </h2>
            <ul class="course-list">
                {% for course in courses %}
                <li class="course-item">{{ course.name }}</li>
                {% endfor %}
            </ul>
            <h2>Edit Profile</h2>
            <form method="post" class="profile-form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Save Changes</button>
            </form>
            {% else %}
            <!-- Handle cases where the user is neither a teacher nor a student -->
            <p>No profile information available.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}